<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="POST">
        <table>
            <tr>
                <td>Your Name:</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Your Quote:</td>
                <td>
                    <textarea name="quote"></textarea>
                </td>
            </tr>
        </table>
        <button>Add Quote</button>
    </form> -->
</body>
</html>